body
{
	/*文字基础设置*/
	color: white;
	/*设置背景图片覆盖且fixed*/
	background-image: url('../img/bkimg/dark2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	/*盒模型*/
	margin: 0%;
}
.FixedHeader
{
	
}
.FootContainer
{
	font-size: 0.8rem;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#00FF00;
	/*
	background-color: #006600;
	/**/
}
.FooterBox
{
	/*flex弹性盒子*/
	display: flex;
	flex-direction: row;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#FF0000;
	/*
	background-color: #660000;
	/**/
}
.FooterInside
{
	padding: 0.2rem;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#00FF00;
	/*
	background-color: #006600;
	/**/
}
.FooterLeft
{
	color: black;
	font-size: 0.8rem;
	background-color: #CCCCCC;
	flex-grow: 1;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#5555FF;
	/*
	background-color: #000066;
	/**/
}
.FooterRight
{
	font-size: 0.8rem;
	color: #111111;
	background-color: #e0e0e0;
	width: 20%;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#5555FF;
	/*
	background-color: #000066;
	/**/
}
.HeadContainer
{
	/*固定在顶部*/
	/*position: fixed;
	left: 0;
	top: 0;
	width: 100%;*/
	/*背景属性*/
	background-color: #EFE8CC;
	/*文字属性*/
	color: #333333;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#00FF00;
	/*
	background-color: #006600;
	/**/
}
.HeaderBox
{
	/*flex弹性盒子*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#FF0000;
	/*
	background-color: #660000;
	/**/
}
.HeaderTitle
{
	margin-left: 7%;
	margin-right: 7%;
	/*边框属性*/
	border-bottom-style: solid;
	border-left-color: #000055;
	/*文字属性*/
	color: #000055;
	text-align: center;
	font-size: 120%;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#FF0000;
	/*
	background-color: #660000;
	/**/
}
.HeaderTitleContainer
{
	margin: 1%;
	/*弹性盒子*/
	flex-grow: 1;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#5555FF;
	/*
	background-color: #000066;
	/**/
}
.Logo
{
	/*盒模型*/
	margin: 1%;
	padding: 1%;
	width: 10em%;
	/*弹性盒子*/
	flex-shrink: 0;
	background-color: cornsilk;
	text-align: center;
	font-weight: 700;
	color: #33338B;
	border-style:solid;
	border-color:#33338B;
}
.MainDocBox
{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#FF0000;
	background-color: #660000;
	/**/
}
.MainDocContainer
{
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 10%;
	padding: 1.5%;
	/*测试用属性*/
	/*
	color: white;
	border-style:solid;
	border-color:#5555FF;
	background-color: #000066;
	/**/
}
.WindowBox
{
	/*flex弹性盒子*/
	display: flex;
	flex-direction: column;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#5555FF;
	background-color: #000066;
	/**/
}
.WindowContainer
{
	/*盒模型*/
	padding: 0;
	margin: 0;
	/*测试用属性*/
	/*
	border-style:solid;
	border-color:#FF0000;
	background-color: #660000;
	/**/
}