body
{
	background-color: #000000;
	color: white;
}
.background
{
	background-image: url(../img/lightbackground.png);
	width: auto;
	height: auto;
}
.container
{
	width: 62.5rem;
	background-color: #000000;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
.maintitle1
{
	font-size: 1.5rem;
	color: darkgoldenrod;
	background-color: black;
	text-align: center;
}
.footer
{
	font-size: 0.75rem;
	margin-bottom: 0;
	color: lightgray;
}
.link1
{
	color: white;
}
.link2
{
	color: firebrick;
}
.text1
{
	color: cornsilk;
}
.line1
{
	color: maroon;
}
.paragraph_heading1
{
	color: ivory;
	text-align: left;
	font-size: 1.1rem;
	text-align: center;
}
.url_table
{
	color: firebrick;
}
.button1
{
	margin-left: auto;
	margin-right: auto;
}
.background_without_container
{
	background-color: #000000;
	color: white;
}