body
{
	background-color: #000000;
}
.background
{
	background-color: #000000;
}
.maintitle1
{
	font-size: 1.5rem;
	color: darkgoldenrod;
	background-color: black;
	text-align: center;
}
.footer
{
	font-size: 0.75rem;
	margin-bottom: 0;
}
.link1
{
	
}
.text1
{
	color: cornsilk;
}